[build-system]
requires = ["setuptools", "wheel", "scikit-build", "cmake", "ninja", "pybind11", "drjit>=0.4.2"]

build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
test-command = "python -c \"import fastsweep\""
test-requires =  "pytest numpy drjit"
skip = "*-musllinux* pp* cp36-* cp37-* *-win32 *_i686 cp38-macosx_arm64"

[tool.cibuildwheel.linux]
repair-wheel-command = "python3 .github/workflows/tag_wheel_manylinux.py {wheel} {dest_dir}"
archs = "auto64"

[tool.cibuildwheel.windows]
archs = "auto64"

